/* Don't change the existing CSS. */
#outer-box{
  background-color: blueviolet;
}
.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0px;
}
.white-text{
  color: white;
  background-color: red;
  padding: 10px;
}