<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <% if(day===0 || day ===6) {%>
           <h1>weekend</h1>
        <%} else {%>
            <h1>weekday</h1>
        <%}%>
    </h2>
</body>
</html>